[Unit]
Description=flask_engine
After=network.target

[Service]
WorkingDirectory=/home/ws_parser
Environment="PATH=/home/ws_parser"
ExecStart=/usr/local/bin/python3 /home/ws_parser/flsk_srv/run.py
Type=simple

[Install]
WantedBy=multi-user.target
